* {
    box-sizing: border-box;
}
:root {
    --header-bg: #10375c;
    --btn-color: #2e80ce;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #c9d2da;
}
button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    outline: none;
}
.btn {
    /* min-width: 205px;
    color: #ffffff;
    height: 60px;
    display: inline-block;
    border-radius: 30px;
    background-color: #2e80ce;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.6rem;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center; */
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    border: 1px solid var(--btn-color);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: var(--height);
    color: #fff;
    background: var(--btn-color);
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-family: Sora;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 5rem;
    line-height: 60px;
    letter-spacing: -2%;
    min-width: 311px;
    opacity: 1;
    color: #10375c;
}
.section-desc {
    margin-top: 1.8rem;
    max-width: 468px;
    font-family: Sora;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 30px;
    letter-spacing: 0%;
    color: #575f66;
    opacity: 1;
}

/* =============================================== Header =============================================== */
.header {
    padding-top: 30px;
    background-color: var(--header-bg);
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
    gap: 40px;
}
.navbar__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.navbar__link:hover {
    color: #ffffff;
}
.navbar__link--active {
    color: #ffffff;
}
.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    left: -8px;
    top: -2px;
}
.header-action {
    display: flex;
    align-items: center;
    gap: 28px;
}
.header-action__signup {
    background-color: var(--btn-color);
    min-width: 104px;
    --height: 44px;
}
.logo {
    font-size: 1rem;
    display: flex;
    gap: 6px;
    display: inline-flex;
}
.logo_brand {
    display: block;
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: 0%;
}
.logo_brand--small {
    color: #c9d2da;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 0%;
    text-align: right;
}
.logo_circle {
    width: 3em;
    height: 3em;
    background-color: var(--btn-color);
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.logo_circle::after {
    content: "";
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    background-color: #ffffff;
    border-radius: 50%;
    top: 1.1em;
    left: 1.1em;
}
.hero {
    margin-top: 76px;
    display: flex;
}
.hero__content {
    margin-top: 60px;
}
.hero__content--heading {
    color: #ffffff;
    font-weight: 600;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: -2%;
}
.hero__content--desc {
    margin-top: 22px;
    color: #c9d2da;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
}
.hero__content--row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}
.hero__phone {
    color: #ffffff;
    font-family: Sora;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.hero__image {
    display: flex;
    margin-left: 113px;
}
.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
}
.hero__img:first-child {
    position: relative;
}

.hero__img:last-child {
    margin-top: 65px;
    bottom: 65px;
    width: 210px;
    height: 410px;
    border-radius: 6px;
    margin-left: -6px;
}

/* =============================================== service =============================================== */
.service {
    padding: 170px 0;
}

.service-heading {
    text-align: center;
}

.service-desc {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.service-row {
    margin-top: 70px;
    display: flex;
    gap: 130px;
}

.service-img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.function {
    margin-top: 35px;
}

.function_item {
    display: flex;
    padding: 21px 0 20px 22px;
}

.function_item:hover {
    box-shadow: 0px 14px 28px 0px #0000000d;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.function_content {
    margin-left: 19px;
}

.function_content--title {
    min-width: 116px;
    opacity: 1;
    font-family: Sora;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--header-bg);
}

.function_content--desc {
    margin-top: 8px;
    max-width: 308px;
    min-height: 56px;
    font-family: Sora;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
}

.teeth {
    background: #eff6fd;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teeth path {
    fill: var(--header-bg);
}

.function_item:hover .teeth {
    background: var(--btn-color);
    transition: 0.3s ease-in-out;
}

.function_item:hover .teeth path {
    transition: 0.3s ease-in-out;
    fill: #ffffff;
}

.function-btn {
    margin-top: 55px;
}

/* =============================================== work =============================================== */

.work {
    padding: 100px 0;
    background-color: #f6fbff;
}

.method {
    display: flex;
    gap: 30px;
}

.method-container {
    margin-top: 43px;
    margin-left: 42px;
}

.method-title {
    font-family: Sora;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0%;
    color: #10375c;
    margin-top: 18px;
}

.method-desc {
    font-family: Sora;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
    color: #575f66;
    margin-top: 28px;
}

.method-item a {
    font-family: Sora;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
    margin-top: 18px;
    color: #575f66;
    display: block;
    margin-bottom: 43px;
}

.method-item {
    margin-top: 86px;
    border: 16px solid #eaf6ff;
    background-color: #ffffff;
    border-radius: 4px;
}

.method-item:hover {
    transition: 0.3s ease-in-out;
    border-color: var(--btn-color);
    transform: translateY(-10px);
}

.method-item:hover a {
    color: var(--btn-color);
    font-weight: 400;
}
/* =============================================== Feature =============================================== */

.feature {
    padding-top: 170px;
}
.feature-row {
    display: flex;
    gap: 188px;
}

.feature__media {
    width: 48%;
}
.future-images {
    position: relative;
}
.feature-img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px #00000012;
}

.feature-img:last-child {
    max-width: 332px;
    position: absolute;
    left: 238px;
    top: 121px;
}

.feature-content {
    margin-top: 82px;
}

.feature-btn {
    margin-top: 38px;
}

/* =============================================== Members =============================================== */
.members {
    padding-top: 253px;
}
.members__header {
    text-align: center;
}
.member__cta {
    margin-top: 38px;
}
.members__list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}
.members-item__img {
    width: 270px;
    height: 318px;
    border-radius: 6px;
    background-color: #eaf6ff;
    object-fit: cover;
}
.members-item__name {
    font-family: Sora;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #10375c;
    margin-top: 12px;
}

.members-item__title {
    font-family: Sora;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: #575f66;
}

.member__control {
    margin-top: 51px;
    display: flex;
    gap: 18px;
    justify-content: center;
}
.control_btn {
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 50%;
}
.control_btn:hover {
    transition: 0.1s ease-in-out;
    background-color: #2e80ce;
}
.control_btn:hover path {
    stroke: #ffffff;
    transition: 0.1s ease-in-out;
}
.members-item__img {
    width: 253px;
    height: 290px;
}
