* {
    box-sizing: border-box;
}
:root {
    --header-bg: #10375c;
    --btn-color: #2e80ce;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #c9d2da;
}
button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    outline: none;
}
.btn {
    /* min-width: 205px;
    color: #ffffff;
    height: 60px;
    display: inline-block;
    border-radius: 30px;
    background-color: var(--btn-color);
    font-weight: 400;
    font-style: Regular;
    font-size: 1.6rem;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center; */
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    border: 1px solid var(--btn-color);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: var(--height);
    color: #fff;
    background: var(--btn-color);
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-family: Sora;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 5rem;
    line-height: 60px;
    letter-spacing: -2%;
    min-width: 311px;
    opacity: 1;
    color: var(--header-bg);
}
.section-desc {
    margin-top: 1.8rem;
    max-width: 468px;
    font-family: Sora;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 30px;
    letter-spacing: 0%;
    color: #575f66;
    opacity: 1;
}

/* =============================================== Header =============================================== */
.header {
    padding-top: 30px;
    background-color: var(--header-bg);
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
    gap: 40px;
}
.navbar__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.navbar__link:hover {
    color: #ffffff;
}
.navbar__link--active {
    color: #ffffff;
}
.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    left: -8px;
    top: -2px;
}
.header-action {
    display: flex;
    align-items: center;
    gap: 28px;
}
.header-action__signup {
    background-color: var(--btn-color);
    min-width: 104px;
    --height: 44px;
}
.logo {
    font-size: 1rem;
    display: flex;
    gap: 6px;
    display: inline-flex;

    cursor: pointer;
}
.logo_brand {
    display: block;
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: 0%;
}
.logo_brand--small {
    color: #c9d2da;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 0%;
    text-align: right;
}
.logo_circle {
    width: 3em;
    height: 3em;
    background-color: var(--btn-color);
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.logo_circle::after {
    content: "";
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    background-color: #ffffff;
    border-radius: 50%;
    top: 1.1em;
    left: 1.1em;
}
.hero {
    margin-top: 76px;
    display: flex;
}
.hero__content {
    margin-top: 60px;
}
.hero__content--heading {
    color: #ffffff;
    font-weight: 600;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: -2%;
}
.hero__content--desc {
    margin-top: 22px;
    color: #c9d2da;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
}
.hero__content--row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}
.hero__phone {
    color: #ffffff;
    font-family: Sora;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.hero__image {
    display: flex;
    margin-left: 113px;
}
.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}
.hero__img:first-child {
    position: relative;
}

.hero__img:last-child {
    margin-top: 65px;
    bottom: 65px;
    width: 210px;
    height: 410px;
    border-radius: 6px;
    margin-left: -6px;
}

/* =============================================== service =============================================== */
.service {
    padding: 170px 0;
}

.service-heading {
    text-align: center;
}

.service-desc {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.service-row {
    margin-top: 70px;
    display: flex;
    gap: 130px;
}

.service-img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.function {
    margin-top: 35px;
}

.function_item {
    display: flex;
    padding: 21px 0 20px 22px;
}

.function_item:hover {
    box-shadow: 0px 14px 28px 0px #0000000d;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.function_content {
    margin-left: 19px;
}

.function_content--title {
    min-width: 116px;
    opacity: 1;
    font-family: Sora;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--header-bg);
}

.function_content--desc {
    margin-top: 8px;
    max-width: 308px;
    min-height: 56px;
    font-family: Sora;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
}

.teeth {
    background: #eff6fd;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teeth path {
    fill: var(--header-bg);
}

.function_item:hover .teeth {
    background: var(--btn-color);
    transition: 0.3s ease-in-out;
}

.function_item:hover .teeth path {
    transition: 0.3s ease-in-out;
    fill: #ffffff;
}

.function-btn {
    margin-top: 55px;
}

/* =============================================== work =============================================== */

.work {
    padding: 100px 0;
    background-color: #f6fbff;
}

.method {
    display: flex;
    gap: 30px;
}

.method-container {
    margin-top: 43px;
    margin-left: 42px;
}

.method-title {
    font-family: Sora;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0%;
    color: var(--header-bg);
    margin-top: 18px;
}

.method-desc {
    font-family: Sora;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
    color: #575f66;
    margin-top: 28px;
}

.method-item a {
    font-family: Sora;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
    margin-top: 18px;
    color: #575f66;
    display: block;
    margin-bottom: 43px;
}

.method-item {
    margin-top: 86px;
    border: 16px solid #eaf6ff;
    background-color: #ffffff;
    border-radius: 4px;
}

.method-item:hover {
    transition: 0.3s ease-in-out;
    border-color: var(--btn-color);
    transform: translateY(-10px);
}

.method-item:hover a {
    color: var(--btn-color);
    font-weight: 400;
}
/* =============================================== Feature =============================================== */

.feature {
    padding-top: 170px;
}
.feature-row {
    display: flex;
    gap: 188px;
}

.feature__media {
    width: 48%;
}
.future-images {
    position: relative;
}
.feature-img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px #00000012;
    object-fit: cover;
}

.feature-img:last-child {
    max-width: 332px;
    position: absolute;
    left: 238px;
    top: 121px;
    object-fit: cover;
}

.feature-content {
    margin-top: 82px;
}

.feature-btn {
    margin-top: 38px;
}

/* =============================================== Members =============================================== */
.members {
    padding-top: 253px;
}
.members__header {
    text-align: center;
}
.member__cta {
    margin-top: 38px;
}
.members__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}
.members-item_image {
    padding-top: 28px;
    background-color: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}
.members-item__img {
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
    display: block;
}

.members-item__img:hover {
    transform: scale(1.1);
}
.members-item__name {
    font-family: Sora;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--header-bg);
    margin-top: 12px;
}

.members-item__title {
    font-family: Sora;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: #575f66;
}

.member__control {
    margin-top: 51px;
    display: flex;
    gap: 18px;
    justify-content: center;
}
.control_btn {
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 50%;
}
.control_btn:hover {
    transition: 0.1s ease-in-out;
    background-color: var(--btn-color);
}
.control_btn:hover path {
    stroke: #ffffff;
    transition: 0.1s ease-in-out;
}

/* =============================================== Apps =============================================== */
.apps {
    margin-top: 265px;
}
.apps-install {
    background-color: var(--btn-color);
    border-radius: 4px;
    display: flex;
    position: relative;
    max-height: 427px;
}
.apps-phone {
    position: absolute;
    margin-left: 70px;
    top: -95px;
}

.apps-phone__image {
    width: 284px;
    height: 522px;
}

.apps-info {
    width: 50%;
    padding-top: 76px;
    padding-bottom: 75px;
    margin-left: auto;
    margin-right: 70px;
    color: #ffffff;
}

.apps-heading {
    color: #ffffff;
}
.apps-heading span {
    display: block;
}

.apps-desc {
    color: #ffffff;
    min-width: 586px;
}
.apps-info__btn {
    display: flex;
    margin-top: 38px;
    gap: 28px;
}
.apps-info__image {
    width: 135px;
    height: 40px;
}
/* =============================================== Event =============================================== */

.event {
    margin-top: 170px;
}
.event-news {
    display: flex;
    gap: 130px;
}
.event-info {
    margin-top: 68px;
}
.event-info__heading {
    width: 470px;
    height: 120px;
}
.event-info__btn {
    margin-top: 28px;
    font-weight: bold;
    color: var(--header-bg);
    text-decoration: underline;
    display: block;
}
.event_control {
    margin-top: 28px;
    justify-content: start;
}

.event-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.event-heading {
    display: inline;
    font-size: 1.6rem;
    line-height: 26px;
    width: 224px;
    cursor: pointer;
}
.event-desc {
    margin-top: 10px;
    width: 226px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.event-item {
    max-width: 272px;
    border-radius: 12px;
    border: 1px solid #e8ebee;
    transition: 0.25s;
}
.event-img {
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}
.event-item:hover {
    box-shadow: 0px 18px 50px 0px #0000000d;
    border: 1px solid #ffffff;
}
.event-item:hover .event-item__image {
    transform: scale(1.1);
}
.item-content {
    padding: 18px 0 21px 22px;
}
.event-item__image {
    display: block;
    width: 270px;
    height: 172px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    transition: 0.25s;
}
.item-content__btn {
    display: inline-block;
    color: var(--header-bg);
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 12px;
    transition: 0.25s;
}
.item-content__btn:hover {
    color: var(--btn-color);
}
/* =============================================== Welcome =============================================== */
.welcome {
    margin-top: 170px;
}
.welcome-width {
    background-color: #f6fbff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-heading {
    margin-top: 100px;
    position: relative;
}
.welcome-heading::after {
    position: absolute;
    right: 338px;
    bottom: -18px;
    content: "";
    display: inline-block;
    width: 136px;
    height: 2px;
    background-color: var(--btn-color);
}
.welcome-desc {
    text-align: center;
    margin-top: 38px;
    max-width: 617px;
}
.welcome-width__btn {
    margin-top: 38px;
    margin-bottom: 100px;
}
/* =============================================== Footer =============================================== */
.footer {
    margin-top: 170px;
    background-color: var(--header-bg);
}
.footer-width {
    display: flex;
    gap: 78px;
    padding-top: 100px;
    position: relative;
}
.footer-width::before {
    content: "";
    display: inline-block;
    width: 1170px;
    height: 1px;
    background-color: #406181;
    position: absolute;
    bottom: 0;
}
.footer-heading {
    font-family: Open Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0%;
    color: #ffffff;
}
.footer-height {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 28px;
    gap: 10px;
}
.footer-desc {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0%;
    color: #a9b3bb;
    max-width: 273px;
}
p.footer-desc {
    margin-top: 21px;
    margin-right: 58px;
}
span.footer-desc {
    min-width: 134px;
    transition: 0.25s;
    cursor: pointer;
}
span.footer-desc:hover {
    text-decoration: underline;
}

.footer-icon {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 28px;
}
.footer-icon__image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}
.footer-icon__image:hover {
    cursor: pointer;
    background-color: var(--btn-color);
}
.footer-icon__image:hover .footer-icon__bg {
    fill: #ffffff;
}
.footer-form {
    margin-top: 10px;
    display: flex;
    gap: 12px;
}
.footer-form__email {
    width: 212px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #406181;
    padding-left: 10px;
    background-color: transparent;
    color: #fff;
}
.footer-form__submit {
    border: none;
    width: 108px;
    height: 46px;
    border-radius: 4px;
    background-color: var(--btn-color);
    color: #ffffff;
    cursor: pointer;
}
.footer-copyright {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.6rem;
    display: block;
    text-align: center;
    color: #aab3ba;
    padding-top: 28px;
    padding-bottom: 42px;
}
