* {
    box-sizing: border-box;
}
:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #c9d2da;
}
button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    outline: none;
}
.btn {
    min-width: 205px;
    color: #ffffff;
    height: 60px;
    display: inline-block;
    border-radius: 30px;
    background-color: #2e80ce;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
/* === Header === */
.header {
    padding-top: 30px;
    background-color: var(--header-bg);
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
    gap: 40px;
}
.navbar__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.navbar__link:hover {
    color: #ffffff;
}
.navbar__link--active {
    color: #ffffff;
}
.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    left: -8px;
    top: -2px;
}
.header-action {
    display: flex;
    align-items: center;
    gap: 28px;
}
.header-action__signup {
    background-color: #2e80ce;
    min-width: 104px;
    height: 44px;
}
.logo {
    font-size: 1rem;
    display: flex;
    gap: 6px;
    display: inline-flex;
}
.logo_text {
}
.logo_brand {
    display: block;
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: 0%;
}
.logo_brand--small {
    color: #c9d2da;
    font-weight: 300;
    font-style: Light;
    font-size: 1.2em;
    letter-spacing: 0%;
    text-align: right;
}
.logo_circle {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.logo_circle::after {
    content: "";
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    background-color: #ffffff;
    border-radius: 50%;
    top: 1.1em;
    left: 1.1em;
}
.hero {
    margin-top: 76px;
    display: flex;
}
.hero__content {
    margin-top: 60px;
}
.hero__content--heading {
    color: #ffffff;
    font-weight: 600;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: -2%;
}
.hero__content--desc {
    margin-top: 22px;
    color: #c9d2da;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
}
.hero__content--row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}
.hero__phone {
    color: #ffffff;
    font-family: Sora;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.hero__image {
    display: flex;
    margin-left: 113px;
}
.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
}
.hero__img:last-child {
    margin-top: 65px;
    bottom: 65px;
    width: 210px;
    height: 410px;
    border-radius: 6px;
    margin-left: -6px;
}
